<div class="slider">
  <ng-container *ngFor="let item of items; let i = index">
    <div class="slide" *ngIf="i == currentIndex" @sliderFade>
      <div class="slide-bg">
        <img class="slide-bg-image" [src]="'https://image.tmdb.org/t/p/original/' + item?.backdrop_path" alt="{{item?.original_title}}" />
      </div>
      <div class="slide-pane">
        <h2 class="name">{{item?.original_title}}</h2>
        <div class="meta">
          <div class="info">
            <span class="rating">
              <span class="material-icons">star</span><span class="rating-value">{{item?.vote_average}}</span
              ><span>/10</span>
            </span>
            <span>{{item?.vote_count}} reviews</span>
            <span>{{item?.release_date | date:'yyyy'}}</span>
          </div>
        </div>
        <div class="desc mt-6">
          {{item?.overview}}
        </div>
      </div>
    </div>
  </ng-container>
</div>
